.carousel-div::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(141, 131, 138, 0.493);
  }

  .about-img {
    border-radius: 50%;
  }

  .card-hidden {
    visibility: hidden;
  }

  .card-visible {
    background: white;
    color: black;
    text-align: center;
    font-size: 2em;
    visibility: visible;
    animation: zoomIn;
    animation-duration: 2s;
  }