body {
  margin: 0;
  min-height: 100%;
  background: linear-gradient(180deg, #a8e7daa9 ,#92aa7c9c );
  width: 100%;
}

.carousel-div::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    backdrop-filter: blur(5px);
  }

  .about-img {
    border-radius: 50%;
    max-width: 15vw;
    padding: 3vh;
  }

  .card-hidden {
    visibility: hidden;
  }

  .card-image {
    object-fit: fill;
  }

  .big-news-image {
    height: 300px;
  }

  .small-news-image {
    height: 175px;
  }

  .card-visible {
    background: rgb(228, 89, 71, 0.9);
    text-align: center;
    font-size: 1.2em;
    visibility: visible;
    animation: zoomIn;
    animation-duration: 2s;
    align-items: center;
    display: flex;
    margin: 6px;
    height: 15vh;
    border-bottom-right-radius: 40vw;
    border-bottom-left-radius: 40vw;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-color: rgba(0, 128, 0, 0.774);
    border-left-color: rgba(0, 128, 0, 0.774);
    border-right-color: rgba(0, 128, 0, 0.774);
    border-width: 10px;
  }

  .big-news-card {
    height: 300px;
  }

  .small-news-card {
    height: 175px;
  }

  .news-card {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 3px 13px 2px rgb(37 37 37);
  }

  .card-link {
    color: white;
    text-align: center;
    display: block;
    margin: auto;
  }
  .padding-name {
    padding-top: 3vh;
    border-top:2px solid #16dee287;
  }

  .title {
    font-family: sans-serif;
    color: rgb(228 89 71);
    font-weight: bold;
    text-align: center;
  }

  .subtitle {
    font-family: sans-serif;
    color: rgb(156, 160, 152);
    text-align: center;  
  }
  .about-us {
    font-family: sans-serif;
    color: rgb(228 89 71);
    font-weight: bolder;
  }

  .par {
    font-family: sans-serif;
    color: grey;
  }